body {
    background-color: #0f0c01;
    min-height: 70vh;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(198, 1%, 29%);
    font-family: "Helvetica Neue",Helvetica;
    text-align: center;
    font-size: 130%;
  }
  
  .container {
    width: 100%;
    height: auto;
    min-height: 600px;
    max-width: 600px;
    min-width: 250px;
    background: #ffffff;
    border-radius: 45px;
    padding: 1rem;
    box-sizing: border-box;
    /* transform: rotate(75deg); */
  }
   
    .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    transform: rotate(-2deg);
  }
  .heading h1 {
    padding: 0.2rem 1.2rem;
    border-radius: 30% 10px;
    background-color: #fd6e6e;
    font-size: 23px;
    color:rgb(0, 0, 0);
  }
  
  .form input {
    box-sizing: border-box;
    background-color: transparent;
    padding: 0.7rem;
    border-bottom-right-radius: 15px 3px;
    border-bottom-left-radius: 3px 15px;
    border: solid 3px transparent;
    border-bottom: black 2px solid;
    font-family: "Helvetica Neue",Helvetica;
    font-size: 1rem;
    color: hsla(0, 0%, 0%, 0.7);
    width: 70%;
    margin-bottom: 20px;
  }
  
  button {
    padding: 0;
    border: none;
    font-family: "Helvetica Neue",Helvetica;
    text-decoration: none;
    padding-bottom: 3px;
    border-radius: 5px;
    background-color: #000000;
    color: white;
  }
  button span {
    background: black;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  

  button:hover{
    background-color:#fd6e6e;
  }

  li {
    text-align: left;
    position: relative;
    padding: 0.5rem;
  }
  
  h1{
    color:black;
  }